<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fvj.surfbro">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <receiver android:name=".WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/surf_bro_widget_info" />
        </receiver>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4fbd4d966a1dfa82829d2b3b7624c6a0a52bedd4" />

    </application>
</manifest>
